In [1]:
import numpy as np 
import pandas as pd 

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn import preprocessing

In [2]:
data = pd.read_csv('../../data/contoh.csv', encoding = 'unicode_escape')
data.sample(5)

                         name gender
207556        fitri atun nisa      f
449230      panopot panjaitan      m
583742              umi tiara      f
227407              hardinoto      m
62592   alycia elvina sanjaya      f

In [3]:
data.isna().sum()

name      0
gender    0
dtype: int64

In [4]:
data['gender'].value_counts()

gender
m    322538
f    301703
Name: count, dtype: int64

In [5]:
data['gender'] = data['gender'].replace({'M' : 1, 'F' : 0})

encoder = preprocessing.LabelEncoder()
encoder.fit(data['name'])
data['name'] = pd.DataFrame(encoder.transform(data['name']))
data.sample(5)

          name gender
154099  145477      m
232221  224285      f
318659  311814      f
606718  603782      m
525507  521669      f

In [6]:
X = data.drop('gender', axis = 1)
Y = data['gender']

In [7]:
X

          name
0          250
1          251
2          252
3          253
4          254
...        ...
624236  621530
624237  621531
624238  621532
624239  621533
624240  621534

[624241 rows x 1 columns]

In [8]:
Y

0         f
1         f
2         f
3         m
4         m
         ..
624236    f
624237    f
624238    f
624239    f
624240    f
Name: gender, Length: 624241, dtype: object

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.2, random_state = 0)

In [10]:
print(X.shape, X_train.shape, X_test.shape)

(624241, 1) (124848, 1) (499393, 1)

In [11]:
%pip install lightgbm

Requirement already satisfied: lightgbm in /Users/novay/miniconda/lib/python3.10/site-packages (3.3.5)
Requirement already satisfied: scipy in /Users/novay/miniconda/lib/python3.10/site-packages (from lightgbm) (1.10.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /Users/novay/miniconda/lib/python3.10/site-packages (from lightgbm) (1.2.2)
Requirement already satisfied: wheel in /Users/novay/miniconda/lib/python3.10/site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: numpy in /Users/novay/miniconda/lib/python3.10/site-packages (from lightgbm) (1.23.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/novay/miniconda/lib/python3.10/site-packages (from scikit-learn!=0.22.0->lightgbm) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /Users/novay/.local/lib/python3.10/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB, BernoulliNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
import lightgbm as lgb
from sklearn.svm import SVC

models = {
    # 'Logistic Regression' : LogisticRegression(),
    # 'Ridge Regression' : RidgeClassifier(),
    # 'Multinominal Naive Bayes' : MultinomialNB(), 
    # 'Bernoulli Naive Bayes' : BernoulliNB(), 
    # 'Gaussian Naive Bayes' : GaussianNB(), 
    # 'KNN' : KNeighborsClassifier(n_neighbors=100), 
    # 'Decision Tree' : DecisionTreeClassifier(),
    # 'Random Forest' : RandomForestClassifier(),
    # 'Extra Trees' : ExtraTreesClassifier(),
    # 'Gradient Boost' : GradientBoostingClassifier(), 
    # 'Ada Boost' : AdaBoostClassifier(), 
    # 'LightGBM' : lgb.LGBMClassifier(), 
    # 'Linear Discriminant Analysis' : LinearDiscriminantAnalysis(), 
    # 'Quadratic Discriminant Analysis' : QuadraticDiscriminantAnalysis(), 
    'SVM': SVC(), 
    'MLP (Neural Network)' : MLPClassifier(),
}

for name, model in models.items():
    model.fit(X_train, Y_train)
    print(name + ' trained!')

SVM trained!
MLP (Neural Network) trained!

In [18]:
from sklearn import metrics

print('Dataset Test')
for name, model in models.items():
    # score = model.score(X_test, Y_test)
    # print(name + ' Accuracy is: {:.2f}%'.format(score * 100))
    
    Y_pred = model.predict(X_test)
    print('Dataset Train')
    print(metrics.classification_report(Y_test, Y_pred, digits=5, zero_division=1))

# print('\nDataset Train')
# for name, model in models.items():
#     score = model.score(X_test, Y_train)
#     print(name + ' Accuracy is: {:.2f}%'.format(score * 100))
    
    # Y_pred = model.predict(X_train)
    # print(metrics.classification_report(Y_train, Y_pred, digits=5))

Dataset Test
Dataset Train
              precision    recall  f1-score   support

           f    0.54161   0.72582   0.62033    241329
           m    0.62402   0.42555   0.50602    258064

    accuracy                        0.57065    499393
   macro avg    0.58282   0.57568   0.56317    499393
weighted avg    0.58420   0.57065   0.56126    499393

Dataset Train
              precision    recall  f1-score   support

           f    0.48403   0.99881   0.65207    241329
           m    0.79558   0.00433   0.00861    258064

    accuracy                        0.48491    499393
   macro avg    0.63981   0.50157   0.33034    499393
weighted avg    0.64503   0.48491   0.31956    499393