In [1]:
import numpy as np 
import pandas as pd 

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn import preprocessing

In [2]:
data = pd.read_csv('../../data/contoh.csv', encoding = 'unicode_escape')
data.sample(5)

                           name gender
7825             rifa'i mustofa      m
164676  dwi juliyanto pamungkas      m
536848         siti aisyah aziz      f
508049          rusma y fhalena      f
365022  muhammad erlangga jossi      m

In [3]:
data.isna().sum()

name      0
gender    0
dtype: int64

In [4]:
data['gender'].value_counts()

gender
m    322538
f    301703
Name: count, dtype: int64

In [5]:
data['gender'] = data['gender'].replace({'M' : 1, 'F' : 0})

encoder = preprocessing.LabelEncoder()
encoder.fit(data['name'])
data['name'] = pd.DataFrame(encoder.transform(data['name']))
data.sample(5)

          name gender
82223    72962      f
516774  512902      m
11398     1251      m
189792  181399      m
421459  416598      f

In [6]:
X = data.drop('gender', axis = 1)
Y = data['gender']

In [7]:
X

          name
0          250
1          251
2          252
3          253
4          254
...        ...
624236  621530
624237  621531
624238  621532
624239  621533
624240  621534

[624241 rows x 1 columns]

In [8]:
Y

0         f
1         f
2         f
3         m
4         m
         ..
624236    f
624237    f
624238    f
624239    f
624240    f
Name: gender, Length: 624241, dtype: object

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.2, random_state = 0)

In [10]:
print(X.shape, X_train.shape, X_test.shape)

(624241, 1) (124848, 1) (499393, 1)

In [ ]:
%pip install lightgbm

In [18]:
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB, BernoulliNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
import lightgbm as lgb

models = {
    'Logistic Regression' : LogisticRegression(),
    'Ridge Regression' : RidgeClassifier(),
    'Multinominal Naive Bayes' : MultinomialNB(), 
    'Bernoulli Naive Bayes' : BernoulliNB(), 
    'Gaussian Naive Bayes' : GaussianNB(), 
    'KNN' : KNeighborsClassifier(n_neighbors=100), 
    'Decision Tree' : DecisionTreeClassifier(),
    'Random Forest' : RandomForestClassifier(),
    'Extra Trees' : ExtraTreesClassifier(),
    'Gradient Boost' : GradientBoostingClassifier(), 
    'Ada Boost' : AdaBoostClassifier(), 
    'LightGBM' : lgb.LGBMClassifier(), 
    'Linear Discriminant Analysis' : LinearDiscriminantAnalysis(), 
    'Quadratic Discriminant Analysis' : QuadraticDiscriminantAnalysis(), 
    'MLP (Neural Network)' : MLPClassifier(),
}

for name, model in models.items():
    model.fit(X_train, Y_train)
    print(name + ' trained!')

Logistic Regression trained!
Ridge Regression trained!
Multinominal Naive Bayes trained!
Bernoulli Naive Bayes trained!
Gaussian Naive Bayes trained!
KNN trained!
Decision Tree trained!
Random Forest trained!
Extra Trees trained!
Gradient Boost trained!
Ada Boost trained!
LightGBM trained!
Linear Discriminant Analysis trained!
Quadratic Discriminant Analysis trained!

In [45]:
from sklearn import metrics

for name, model in models.items():
    score = model.score(X_test, Y_test)
    print(name + ' Accuracy is: {:.2f}%'.format(score * 100))
    print(metrics.classification_report(Y_test, X_test, digits=5, labels=[1,0]))

Logistic Regression Accuracy is: 48.32%
Decision Tree Accuracy is: 84.39%
Random Forest Accuracy is: 84.41%
Neural Network Accuracy is: 51.68%
Ada Boost Accuracy is: 63.58%